*
	padding 0
	margin 0

body
	font-family: 'Open Sans', sans-serif;

/*HEADER*/
header
	width 100%
	padding 10px
	box-sizing border-box
	&::after
		content ''
		display table
		clear both

.header
	width 1120px
	margin auto

.logo
	float left
	width 150px
	height 30px
	background-color: #ccc

.user-info
	float right

/*PRODUCT*/
.product
	width 100%
	ul
		list-style none
	
.product-block
	width 30%
	float left

.list-product
	float left
	width 50%
	border-right: 1px solid #ccc
	box-sizing border-box
	padding 20px
	img
		width 150px
	&::after
		content ''
		display table
		clear both

.product-title
	font-size 1.2rem
	text-transform uppercase

/*COMMENTS*/
.comments
	width 70%
	float left	

.comments-title
	font-size 1.2rem
	border-bottom: 3px solid #ccc

.comment-block
	margin-top 20px

.comment-user
	font-weight: 100
	&::after
		content ''
		display table
		clear both

.comment-title
	font-weight: 300
	line-height 30px
	font-size 1.2rem
	float left
	margin 0 10px

.comment-date, .comment-rate
	line-height 30px
	font-size 0.8rem
	margin 0 10px
	float left

/*LOGIN*/
.login-form
	background-color: #ccc
	width 400px
	margin 20px auto
	&::after
		content ''
		display table
		clear both

.form-group
	border: none
	padding 30px

.username, .password
	width 100%
	padding 10px
	box-sizing border-box
	border: none
	border-radius: 3px

.login, .register
	margin 30px
	display block
	width 100px
	padding 10px

.login
	float left

.register
	float right

/*NEW COMMENT*/
.new-comment
	background-color: #ccc
	margin-top 20px
	.form-group
		padding 0

.new-comment-text
	margin 5%
	padding 10px
	width 90%
	border-radius: 5px
	box-sizing border-box
	resize: none

.my-comment
	margin auto
	display block
	width 100px
	padding 10px
